{
  presets: [
    ['babel-preset-env', {
      target: {
        node: 6,
      }
    }],
    'babel-preset-flow',
  ],
  plugins: [
    ['babel-plugin-transform-object-rest-spread', { useBuiltIns: true }],
    ['babel-plugin-flow-runtime', { assert: true, annotate: true }],
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }]
  ]
}
