{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 8
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "babel-plugin-flow-runtime",
      {
        "assert": true,
        "annotate": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        // "polyfill": true,
        "regenerator": false,
      }
    ]
  ]
}
